{% extends 'base.html' %}
{% load static %}


{% block meta %}
    <title>Health Articles</title>
    <link rel="stylesheet" href="{% static 'css/style-article.css' %}" type="text/css">
{% endblock meta %}

{% block content %}
  <div class="container">
        <h1 class="tittle">Health Articles</h1>
        {% if articles.count != 0 %}
            <div class="card-deck">
                {% for article in articles %}
                    <div class="col-md-4">
                        <div class="card">
                            <img class="card-img-top" src="{{ article.image.url }}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title"><a href="{% url 'articles:article' article.id %}" class="font-tittle">{{ article.tittle }}</a></h5>
                                <i class="fas fa-user"><small style="margin-left: 5px; font-family: Rubik,sans-serif">{{ article.author }}</small></i><br>
                                <i class="fas fa-calendar-day"><small style="margin-left: 5px; font-family: Rubik,sans-serif">{{ article.create }}</small></i>
                            </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% else %}
            <div style="text-align: center">
                <h4>You haven't added any articles yet</h4>
                <h4>Click icon + to add article</h4>
            </div>
        {% endif %}
        <div style="text-align: center; margin: 10%">
            <a href="{% url 'articles:create-article' %}"><i class="fas fa-plus-circle" id="add"></i></a>
        </div>
    </div>
{% endblock content %}