{% extends 'base.html' %}
{% block content %}
<div class="jumbotron bmi-jumbotron p-0" style="background-image: url(/static/BMIHome/JumbotronImage.svg); background-size: cover;">
    <div class="div" style="padding: 400px 0px 0px 100px; color: white;">
        <p>Get to know your mass index</p>
        <h1>BMI CALCULATOR</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>possimus nam dolores optio praesentium eum eos magnam eligendi nihil sint. <br>Laudantium architecto accusamus natus consequuntur.</p>
        <a class="btn btn-primary btn-lg" style="margin-bottom: 40px; background-image: linear-gradient(#EC4057, #F57434)" href="#" role="button">Learn more</a>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <h2><strong>BMI CALCULATOR</strong></h2>
    </div>
    <div class="row justify-content-center text-center">
        <div class="card" style="width: 500px; color: white; background-color: black; border-radius: 14px; margin: 40px 0px 40px 0px">
            <div class="card-body p-5">
                <form action="" method="POST" class="form-group m-0">
                    {% csrf_token %}
                    <h5 style="text-align: left;"><strong>Insert your input below</strong></h5>
                    <p style="text-align: left;" class="card-text">Height (Centimeters)</p>
                    {{ form.height }}
                    <p style="text-align: left;" class="card-text">Weight (Kilograms)</p>
                    {{ form.weight }} <br>
                    <button type="submit" class="btn btn-primary mt-3" style="background-image: linear-gradient(#EC4057, #F57434);">Calculate</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}