{% extends 'base.html' %}
{% block content %}
{% csrf_token %}
<div class="container">
    <div class="row justify-content-center">
        <h2><strong>BMI CALCULATOR</strong></h2>
    </div>
    <div class="row justify-content-center text-center" >
        <div class="col mt-5 mb-5">
            <div class="card" style="width: 500px; color: white; background-color: black; border-radius: 14px;">
                <div class="card-body p-5">
                    <form action="" method="POST" class="form-group m-0">
                        {% csrf_token %}
                        <h5 style="text-align: left;"><strong>Insert your input below</strong></h5>
                        <p style="text-align: left;" class="card-text">Height (Centimeters)</p>
                        {{ form.height }}
                        <p style="text-align: left;" class="card-text">Weight (Kilograms)</p>
                        {{ form.weight }} <br>
                        <button style="background-image: linear-gradient(#EC4057, #F57434);" type="submit" class="btn btn-primary mt-3">Calculate</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col text-center justify-content-center mt-5 mb-5">
            <div class="card" style="width: 500px; color: white; background-color: black; border-radius: 14px;">
                <div class="card-body p-5">
                    <h5><Strong>Here is your result!</Strong></h5>
                    <h2 class="p-3"><strong>{{ result }}</strong></h2>
                    <table style="text-align: left; font-size: 20px;">
                        <tr style="height: 30px;">
                            <td style="width: 200px; text-align: right; padding-right: 20px">< 18.5</td>
                            <td style="width: 200px;">Underweight</td>
                        </tr>
                        <tr>
                            <td style="width: 200px; text-align: right; padding-right: 20px">18.5 - 24.9</td>
                            <td style="width: 200px;">Normal</td>
                        </tr>
                        <tr>
                            <td style="width: 200px; text-align: right; padding-right: 20px">25.0 - 29.0</td>
                            <td style="width: 200px;">Overweight</td>
                        </tr>
                        <tr>
                            <td style="width: 200px; text-align: right; padding-right: 20px">> 29.0</td>
                            <td style="width: 200px;">Obese</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}