.tittle {
    margin: 30px;
    text-align: center;
    font-weight: bold;
}

.head {
    margin: 30px 0 0 0;
}
.head, .picture-article, .content {
    margin-bottom: 20px;
}

.head .tittle-article {
    font-weight: bold;
    margin-bottom: 2px;
}

.head .author-artice {
    margin-bottom: 2px;
    font-size: 15px;
}

.head .date-article{
    margin-bottom: 2px;
    font-size: 15px;
}

#btn-primary {
    background-color: #EC4057;
    border-color: #EC4057;
}

.picture-article {
    display: block;
    width: 60%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
}

#add{
    font-size: 50px;
    color: #ee4455;
}

.font-tittle {
    color: #111111;
}

.font-tittle:hover {
    color: #ee4455;
}


@media (min-width: 576px) {
    .card-deck .card {
        -ms-flex: 1 0 0%;
        flex: 1 0 0%;
        margin-right: 15px;
        margin-bottom: 15px;
        margin-left: 15px;
    }

    .font {
        text-align: right;
    }
}