{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>BMR Calculator</title>
<style>
    .bmr_img{
        background-image: url(/static/img/bmrjumbotron.png);
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        padding-top: 200px;
        padding-bottom: 200px;
    }
    .jumbotron{
        color: #ffffff;
        border-radius: 0;
    }
    .btn{
        background-image: linear-gradient(#EC4057, #F57434);
        border-color: #ee4455;
    }
    .calculate{
        background-image: linear-gradient(#EC4057, #F57434);
        color: #ffffff;
        border-radius: 14px;
        margin-bottom: 8%;
        margin-left: 42%;
    }
    .card{
        max-width: 35rem; margin: 0 auto; background-color: #1E1E1E; color:#ffffff;
        float: none; border-radius: 14px;
        margin-bottom: 10px; padding-top: 2%;
    }
    .lead{
        font-weight: 600;
        /* padding-top: 5%; */
    }
    .display-4{
        font-weight: 600;
    }
    .card-header{
        font-weight: 600;
        padding-left: 8%;
    }
</style>
{% endblock meta %}

    {% block content %}
        <div class="jumbotron bmr_img">
            <p class="lead ">Get to know your metabolism</p>
            <h1 class="display-4">BMR CALCULATOR</h1>
            <p>Basal Metabolic Rate (BMR) is the number of calories required <br> to keep your body functioning at rest.  It represents the <br> minimum amount of energy needed to keep your body <br> functioning, including breathing and keeping your heart <br>beating.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Get Started</a>
        </div>
        <div style="padding-top: 4%; padding-bottom: 2%;">
            <h2 style="text-align: center;"><b>BMR Calculator</b></h2>
        </div>
        <div class="card border-dark mb-3">
            <div class="card-header">
                <p>Calculate your BMR here</p>
                <p>Insert your input below</p>
            </div>
            <form id="form" method="POST" action="/bmrcalculator/post/">
                {% csrf_token %}
                <div class="form-group" style="padding-left: 8%; padding-right: 8%;">
                    {{ form_bmrcal.as_p }}
                </div>
                <br>
                <button type="submit"  class="calculate btn btn" id="bton">Calculate</button>
            </form>
        </div>
    {% endblock content %}
