{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>BMR Result</title>
<style>
    .card{
        max-width: 35rem; margin: 0 auto; background-color: #1E1E1E; color:#ffffff;
        float: none; border-radius: 14px;
        margin-bottom: 10px; padding-top: 2%;
    }
    .calculate{
        background-image: linear-gradient(#EC4057, #F57434);
        color: #ffffff;
        border-radius: 14px;
        margin-bottom: 8%;
        margin-left: 42%;
    }
    .title{
        text-align: center; padding-top: 5%; padding-bottom: 3%;
        font-weight: 600;
    }
    .card-header{
        font-weight: 600;
        padding-left: 8%;
    }
</style>
{% endblock meta %}

    {% block content %}
        <div>
        <h2 class="title">BMR Calculator</h2>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="card border-dark mb-3">
                        <div class="card-header">
                            <p>Calculate your BMR here</p>
                            <p>Insert your input below</p>
                        </div>
                        <form id="form" method="POST" action="/bmrcalculator/post/">
                            {% csrf_token %}
                            <div class="form-group" style="padding-left: 8%; padding-right: 8%;">
                                {{ form_bmrcal.as_p }}
                            </div>
                            <br>
                            <button type="submit" class="calculate btn btn" id="bton">Calculate</button>
                        </form>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="card border-dark mb-3">
                        <div class="card-header">
                            <p><b>Here's your BMR result</b></p>
                        </div>
                        <h2 style="text-align: center;"><b>
                            {{result}} 
                        </h2></b>
                        <p style="text-align: center;">
                            Your BMR result represents the number of calories <br>you'd burn if you stayed in bed all day.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    {% endblock content %}
 
