{% extends 'base.html' %}
{% load static %}

{% block meta %}
   <title>Calories Calculator</title>
{% endblock meta %}


{% block content %}
        <div>
            <h2 style="text-align: center; padding: 2%; font-weight: bold;">Calories Calculator</h2>
        </div>
        <div class="card border-dark mb-3" style="max-width: 25rem; text-align: center; margin: 0 auto; background-color: #323233; color:#ffffff;
            float: none; border-radius: 14px; margin-bottom: 10px;">
            <div class="card-header" style="font-size: 25px;">
                <p>Calculator</p>
            </div>
            <form id="form" method="POST" action="/calories-cal/res/">
                {% csrf_token %}
                <div class="form-group" style="padding-left: 8%; padding-right: 8%; text-align: left">
                    {{ form_calc.as_p }}
                </div>
                <br>
                <button type="submit" style="background-image: linear-gradient(#EC4057, #F57434); color: #ffffff; border-radius: 14px;" class="btn btn" id="bton">Calculate</button>
            </form>
        </div>

{% endblock content %}