{% extends 'base.html' %}
{% load static %}

{% block meta %}
  <title>Calories Calculator</title>
{% endblock meta %}


{% block content %}
<div>
    <h2 style="text-align: center; padding: 2%; font-weight: bold;">Calories Calculator</h2>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="card border-dark mb-3" style="max-width: 25rem; text-align: center ; margin: 0 auto; background-color: #323233; color:#ffffff;
            float: none; border-radius: 14px; margin-bottom: 10px;">
                <div class="card-header" style="font-size: 25px; ">
                    <p>Calculator</p>
                </div>
                    <form id="form" method="POST" action="/calories-cal/res/">
                        {% csrf_token %}
                        <div class="form-group" style="padding-left: 8%; padding-right: 8%; text-align: left;">
                            {{ form_calories.as_p }}
                        </div>
                        <br>
                        <button type="submit" style="text-align: center ; background-image: linear-gradient(#EC4057, #F57434); color: #ffffff; border-radius: 14px;" class="btn btn" id="bton">Calculate</button>
                    </form>
            </div>
        </div>
    
        <div class="col-md-6 col-sm-12">
            <div class="card border-dark mb-3" style="max-width: 25rem; margin: 0 auto; background-color: #323233; color:#ffffff;
            float: none; border-radius: 14px; margin-bottom: 10px;">
                <div class="card-body">
                    <div class="tittleCal" style="font-size: 25px;">Result</div>
                        <ul class="list-group list-group-flush" >
                            <li class="list-group-item 1" style="text-align: left ; background-color: #323233; color:#ffffff;
                            float: none;">Maintain Weight</li>
                            <li class="list-group-item 2" style="width: 100%; margin: 0 auto; background-color: #ffffff; color:#000000;
                            float: none; border: #ffffff; border-radius: 5px;">{{resultAct}}</li>
                            <li class="list-group-item 1" style="text-align: left ; background-color: #323233; color:#ffffff;
                            float: none;">Weight Gain</li>
                            <li class="list-group-item 2" style="width: 100%; margin: 0 auto; background-color: #ffffff; color:#000000;
                            float: none; border: #ffffff; border-radius: 5px;">{{gainRes}}</li>
                            <li class="list-group-item 1" style="text-align: left ; background-color: #323233; color:#ffffff;
                            float: none;">Weight Loss</li>
                            <li class="list-group-item 2" style="width: 100%; margin: 0 auto; background-color: #ffffff; color:#000000;
                            float: none; border: #ffffff; border-radius: 5px;">{{losRes}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}