{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Meet our developers</title>
    <link href="{% static "css/style-main.css" %}" type="text/css" rel="stylesheet">
{% endblock meta %}

{% block content %}
<!-- Header -->
<header class="bg1 text-center py-5 mb-4">
    <div class="container bg1">
      <h1 class="font-weight-bold text-white">MEET OUR DEVELOPERS</h1>
    </div>
</header>
  
  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <!-- Team Member 1 -->
      <div class="col-md-4 col-6 mb-4">
        <div class="card border-0 shadow">
          <img src="static/img/Faizah.jpg" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0 font-weight-bold">Faizah</h5>
            <div class="card-text text-black-50">To-do List</div>
          </div>
        </div>
      </div>
      <!-- Team Member 2 -->
      <div class="col-md-4 col-6 mb-4">
        <div class="card border-0 shadow">
          <img src="static/img/PhillipsMY19.jpg" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0 font-weight-bold">Fiorentine Phillips</h5>
            <div class="card-text text-black-50">BMR Calculator, Homepage, About Us</div>
          </div>
        </div>
      </div>
      <!-- Team Member 3 -->
      <div class="col-md-4 col-6 mb-4">
        <div class="card border-0 shadow">
          <img src="static/img/Naufal.jpg" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0 font-weight-bold">Mochammad Naufal Rizki</h5>
            <div class="card-text text-black-50">Health Articles, Homepage</div>
          </div>
        </div>
      </div>
      <!-- Team Member 4 -->
      <div class="col-md-4 col-6 mb-4 pad-right">
        <div class="card border-0 shadow">
          <img src="static/img/Farhan.jpg" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0 font-weight-bold">Muhammad Farhan Ramadhan</h5>
            <div class="card-text text-black-50">Calories Calculator</div>
          </div>
        </div>
      </div>
      <!-- Team Member 5 -->
      <div class="col-md-4 col-6 mb-4 pad-right" id="pad-right-mem-5">
        <div class="card border-0 shadow">
          <img src="static/img/Rizma.jpg" class="card-img-top" alt="...">
          <div class="card-body text-center">
              <h5 class="card-title mb-0 font-weight-bold">Rizma Chaerani Heidy Putri</h5>
              <div class="card-text text-black-50">BMI Calculator</div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  
  </div>
  <!-- /.container -->
{% endblock content %}