{% extends 'base.html' %}
{% load static %}


{% block meta %}
    <title>To Do List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        input{
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
        }
        .btn{
            background-image: linear-gradient(#EC4057, #F57434);
            color: white;
            border-radius: 10px;
            margin-bottom: 5px;
        }
        .card{
            max-width: 50%; text-align: center; 
            background-color: black; color:#ffffff;
            border-radius: 14px;
            margin: auto; margin-bottom: 5%; padding: 3%;
        }
        .item-row{
            text-align: center;
            background-color: white;
            margin-top: 10px; margin-left: 20px; margin-right: 20px;
            border-radius: 10px;
            padding-top: 1%; padding-left: 5%; padding-right: 5%;
            color: black;
        }
    </style>
{% endblock meta %}

{% block content %}

    <!--Jumbotron Image-->
    <div class="jumbotron" style="background-size: cover; background-image: url(/static/img/to-do-jumbotron.jpg);">
        <div style="padding: 20% 3% 3%; color: black;">
            <h5 class="lead" style="font-weight: 500;">List the things you have to do</h5>
            <h2 class="display-4" style="font-weight: 500;">TO-DO LIST</h2>
            <p style="font-weight: 400;">To do list is a list of things that one wants to get done<br>
                or that need to get done. With to-do list, you can<br>
                manage your time better and organize your work and life.</p>
        </div>
    </div>

    <!--To Do List Form-->
    <h1 style="text-align: center; margin-top:5%;">To Do List</h1>
    <div class="card">
        <form method="POST" action="/to-do-list/">
            {% csrf_token %}
            {{form}}
            <button type="submit" class="btn" style="width: 100px; margin-bottom: 5%;">ADD</button>
        </form>

        {% for todo in todos %}
            <div class="item-row" style="color: black;">
                <p>{{todo}}</p>
                <p>
                    <button type="submit" class="btn" style="width: 80px; font-size: smaller;">
                        <a href="{% url 'to-do-list:edit-todo' todo.id %}" style="color: white;">EDIT</a>
                    </button>
                    <button type="submit" class="btn" style="width: 80px; font-size: smaller;">
                        <a href="{% url 'to-do-list:delete-todo' todo.id %}" style="color: white;">DELETE</a>
                    </button>
                </p>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
