{% extends 'base.html' %}
{% load static %}


{% block meta %}
    <title>Edit To Do</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        input{
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
        }
        .btn{
            background-image: linear-gradient(#EC4057, #F57434);
            color: white;
            border-radius: 10px;
        }
        .card{
            max-width: 50%; text-align: center; 
            background-color: black; color:#ffffff;
            border-radius: 14px;
            margin: auto; margin-bottom: 5%; padding: 3%;
        }
    </style>
{% endblock meta %}

{% block content %}
    <h1 style="text-align: center; margin-top:5%;">Change To Do</h1>
        <div class="card">
            <form method="POST", action="">
                {% csrf_token %}
                {{form}}
                <button type="submit" class="btn" style="width: 100px;">APPLY</button>
            </form>
        </div>
{% endblock content %}
