.home_img{
    background-image: url(/static/img/home.png);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
}
.txt{
    color: #ffffff;
    text-align: right;
}
.btn{
    background-image: linear-gradient(#EC4057, #F57434);
    color: #ffffff;
}
.about{
    padding-top: 5%;
    padding-bottom: 5%
}
.carousel-inner img {
    width: 100%;
    height: 100%;
}
.carousel{
    background-color: #1E1E1E;
    padding-top: 200px;
    padding-bottom: 200px;
    color: #ffffff;
}
.img-carousel{
    left: 14%;
}
.img-carousel2{
    left: 20%;
}
.img-carousel3{
    left: 33%;
}
.img-padding{
    padding-left: 5%;
}
.txt-padding{
    padding-left: 2%;
}
.img-responsive{
    width: 100%;
    /* height: 100%; */
}

.bg1{
    background-color: #111111;
    padding-top: 50px;
    padding-bottom: 50px;
}

.pad-right{
    left: 18%;
}


@media (max-width: 768px) {
    .pad-right{
        left: 0;
    }

    #pad-right-mem-5 {
        left: 25%;
    }
}

@media (max-width: 576px) {
    .font-mob {
        font-size: 1rem;
    }
}